<div class="editing-task">
	<div class="editing-task__container">
		<div class="editing-task__title">
			<span class="span span__text">Редактирование задачи</span>
			<span class="span span__close js_span__close"></span>
		</div>
		<div class="editing-task__items">
			<div class="item">
				<span class="item__name">Менеджер ОКК</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Поставщик</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Выезд АСЦ</span>
				<form class="item__form">
					<input class="item__form_input" type="text" placeholder="Номер заявки, сервис, число">
				</form>
				<span class="item__name">№ заказа</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Статус</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Итог</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
			</div>
			<div class="item">
				<span class="item__name">Дата принятия рекламации</span>
				<input class="item__date" type="date"></input>
				<span class="item__name">Причина обращения</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Требования клиента</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Ошибка менеджера</span>
				<select class="item__select">
					<option value="">Категория</option>
					<option class="select__option">{{ item }}</option>
				</select>
				<span class="item__name">Дата доставки</span>
				<input class="item__date" type="date">
				<span class="item__name">Дата решения</span>
				<input class="item__date" type="date">
			</div>
			<div class="item">
				<span class="item__name">Хронология</span>
				<form action="" class="form__chronology">

					<textarea class="item__textarea" name="text">Текст…</textarea>
				</form>
				<span class="item__name">Комментарий</span>
				<form action="" class="form__comment">
					<p>
						<textarea class="item__textarea" name="text">Текст…</textarea>
					</p>
				</form>
			</div>
		</div>
		<div class="editing-task__table">
			<span class="table__title">Состав и действия с заказом</span>
			<div class="table__items">
				<div class="item item__title">
					<span class="item__model">Модель</span>
					<span class="item__price">Цена</span>
					<span class="item__quantity">Кол-во</span>
					<span class="item__action">Действие</span>
					<span class="item__model">Модель</span>
					<span class="item__price">Цена</span>
				</div>
				<div class="item item__block">
					<span class="item__model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__price">59 990 ₽</span>
					<span class="item__quantity">1</span>
					<span class="item__action">
						<span class="action__state action__state_orange">Замена</span>
					</span>
					<span class="item__model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__price">59 990 ₽</span>
				</div>
				<div class="item item__block">
					<span class="item__model">Стиральная машина BEKO WKB 51001 M</span>
					<span class="item__price">11 980 ₽</span>
					<span class="item__quantity">1</span>
					<span class="item__action">
						<span class="action__state action__state_red">возврат</span>
					</span>
					<span class="item__model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__price">-11 980 ₽</span>
				</div>
			</div>
		</div>
		<div class="editing-task__buttons">
			<a href=" # " class="button button__save">
				сохранить
				<span class="img"></span>
			</a>
			<a href=" # " class="button button__delete">
				удалить
				<span class="img"></span>
			</a>
		</div>
	</div>
</div>
<!-- /.editeing_task -->