<div class="editing__task">
	<div class="container">
		<div class="editing__task__title">
			<span class="span span-text">Редактирование задачи</span>
			<span class="span span-close js_span-close"></span>
		</div>
		<div class="editing__task__items">
			<div class="item">
				<span class="item-name">Менеджер ОКК</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Поставщик</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Выезд АСЦ</span>
				<form class="item-form">
					<input class="item-form_input" type="text" placeholder="Номер заявки, сервис, число">
				</form>
				<span class="item-name">№ заказа</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Статус</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Итог</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
			</div>
			<div class="item">
				<span class="item-name">Дата принятия рекламации</span>
				<input class="item-date" type="date"></input>
				<span class="item-name">Причина обращения</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Требования клиента</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Ошибка менеджера</span>
				<select class="item-select">
					<option value="">Категория</option>
					<option class="item-select__option">{{ item }}</option>
				</select>
				<span class="item-name">Дата доставки</span>
				<input class="item-date" type="date">
				<span class="item-name">Дата решения</span>
				<input class="item-date" type="date">
			</div>
			<div class="item">
				<span class="item-name">Хронология</span>
				<form action="" class="form-chronology">

					<textarea class="item-textarea" name="text">Текст…</textarea>
				</form>
				<span class="item-name">Комментарий</span>
				<form action="" class="form-comment">
					<p>
						<textarea class="item-textarea" name="text">Текст…</textarea>
					</p>
				</form>
			</div>
		</div>
		<div class="editing__task__table">
			<span class="editing__task__table__title">Состав и действия с заказом</span>
			<div class="editing__task__table__items">
				<div class="item item__title">
					<span class="item__title-span model">Модель</span>
					<span class="item__title-span price">Цена</span>
					<span class="item__title-span quantity">Кол-во</span>
					<span class="item__title-span action">Действие</span>
					<span class="item__title-span model">Модель</span>
					<span class="item__title-span price">Цена</span>
				</div>
				<div class="item item__block">
					<span class="item__block-span model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__block-span price">59 990 ₽</span>
					<span class="item__block-span quantity">1</span>
					<span class="item__block-span action">
						<span class="action_state action_state_orange">Замена</span>
					</span>
					<span class="item__block-span model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__block-span price">59 990 ₽</span>
				</div>
				<div class="item item__block">
					<span class="item__block-span model">Стиральная машина BEKO WKB 51001 M</span>
					<span class="item__block-span price">11 980 ₽</span>
					<span class="item__block-span quantity">1</span>
					<span class="item__block-span action">
						<span class="action_state action_state_red">возврат</span>
					</span>
					<span class="item__block-span model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__block-span price">-11 980 ₽</span>
				</div>
			</div>
		</div>
		<div class="editing__task__buttons">
			<a href=" # " class="button button-save">
				сохранить
				<span class="img"></span>
			</a>
			<a href=" # " class="button button-delete">
				удалить
				<span class="img"></span>
			</a>
		</div>
	</div>
</div>
<!-- /.editeing_task -->