{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
			<div class="content content_navigation">
				<a href="T50_catalog_root.html" target="_blank" class="a_navigation">T50:RE/catalog/root</a>
				<a href="T50_catalog_store.html" target="_blank" class="a_navigation">T50:RE/catalog/store</a>
				<a href="T50_catalog_item list.html" target="_blank" class="a_navigation">T50:RE/catalog/item list</a>
				<a href="T50_catalog_model page.html" target="_blank" class="a_navigation">T50:RE/catalog/model page</a>
				<a href="T50_OKK_1.html" target="_blank" class="a_navigation">T50:RE/OKK/1</a>
				<a href="T50_OKK_2.html" target="_blank" class="a_navigation">T50:RE/OKK/2</a>
				<a href="T50_OKK_3.html" target="_blank" class="a_navigation">T50:RE/OKK/3</a>
				<a href="T50_OKK_5.html" target="_blank" class="a_navigation">T50:RE/OKK/5</a>
				<a href="T50_OKK_6.html" target="_blank" class="a_navigation">T50:RE/OKK/6</a>
				<a href="T50_orders_all+summ.html" target="_blank" class="a_navigation">T50:RE/orders/all+summ</a>
				<a href="T50_reports_1.html" target="_blank" class="a_navigation">T50_reports_1</a>
				<a href="T50_reports_3.html" target="_blank" class="a_navigation">T50_reports_3</a>
				<a href="" target="_blank" class="a_navigation"></a>
				<a href="" target="_blank" class="a_navigation"></a>
				<a href="" target="_blank" class="a_navigation"></a>
				<a href="" target="_blank" class="a_navigation"></a>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
</body>

</html>