{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="section">
			<div class="section__news">
				<div class="news">
					<div class="news__title">
						<h2 class="news__h2">Новости</h2>
						<span class="news__hide">Скрыть
							<img class="img" src="{{src}}arrow-right.svg" alt="">
						</span>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_pink">
								<h5 class="item__h5">Общая информация</h5>
								<h6 class="item__h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="news__item news__item_green">
								<h5 class="item__h5">Правилах посещения шоурума</h5>
								<h6 class="item__h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks ">
						<div class="news__block ">
							<h6 class="news__h6 ">22.11.17</h6>
							<h5 class="news__h5 ">Hausdorf</h5>
							<img src="{{src}}warning.svg " alt=" " class="news__img ">
						</div>
						<h5 class="news__h3 ">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4 ">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items ">
							<div class="news__item news__item_red ">
								<h5 class="item__h5 ">Правила</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="news__item news__item_yellow ">
								<h5 class="item__h5 ">Скидки</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
					<div class="news__blocks ">
						<div class="news__block ">
							<h6 class="news__h6 ">22.11.17</h6>
							<h5 class="news__h5 ">Hausdorf</h5>
							<img src="{{src}}warning.svg " alt=" " class="news__img ">
						</div>
						<h5 class="news__h3 ">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4 ">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items ">
							<div class="news__item news__item_red ">
								<h5 class="item__h5 ">Правила</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="news__item news__item_yellow ">
								<h5 class="item__h5 ">Скидки</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_pink">
								<h5 class="item__h5">Общая информация</h5>
								<h6 class="item__h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="news__item news__item_green">
								<h5 class="item__h5">Правилах посещения шоурума</h5>
								<h6 class="item__h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_pink">
								<h5 class="item__h5">Общая информация</h5>
								<h6 class="item__h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="news__item news__item_green">
								<h5 class="item__h5">Правилах посещения шоурума</h5>
								<h6 class="item__h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="news__border"></div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->
			<!-- /.section__container -->
		</div>
		<!-- /.section -->

	</div>
	<!-- /.wrapper -->
	{% include 'connect/script.html' %}
</body>

</html>