 {% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
			{% include 'middle/editing_task/task.html' %}
			<div class="content content_index_11">
				<div class="middle__title middle__title_report_3">
					<h2 class="middle__title__h2">Отчет по
						<a href="" class="middle__title__h2__a">вычетам</a>
					</h2>
				</div>
				<div class="middle__title__select middle__title__select_index_11">
					<div class="item__main">
						<span class="item-name">Дата заказа</span>
						<input class="date item-date item-date-last" type="date"></input>
					</div>
					<div class="item__main">
						<span class="item-name">Статус</span>
						<select class="select select-category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item__main">
						<span class="item-name">Статус</span>
						<select class="select select-category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item__buttons">
						<label class="checkbox search__checkbox">
							<input type="checkbox" class="checkbox__input">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Скачать файл отчета</span>
						</label>
						<a href=" # " class="button button-save">
							Сформировать
							<span class="img"></span>
						</a>
					</div>
				</div>
				<div class="middle__brands middle__brands_index_11">
					<div class="middle__brands__table middle__brands__table_report_3">
						<div class="middle__brands__table__title middle__brands__table__title">
							<span class="span span-score">Заказ</span>
							<span class="span span-order">Дата</span>
							<span class="span span-number">Менеджер</span>
							<span class="span span-date">Вычеты</span>
							<span class="span span__numeric">Причина</span>
							<span class="span span__block">Комментарии</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Гущин А.</span>
							<span class="span span-date">967</span>
							<span class="span span__numeric">Доплата</span>
							<span class="span span__block">13220</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Горнова А.</span>
							<span class="span span-date">-10</span>
							<span class="span span__numeric">Ошибка м-ра</span>
							<span class="span span__block">закуп</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Большов А.</span>
							<span class="span span-date">-1126</span>
							<span class="span span__numeric">Дизайнеру</span>
							<span class="span span__block">№1251234, Чек 12312412, ВП 424125, ДВ 1231234</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Гущин А.</span>
							<span class="span span-date">967</span>
							<span class="span span__numeric">Доплата</span>
							<span class="span span__block">13220</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Горнова А.</span>
							<span class="span span-date">-10</span>
							<span class="span span__numeric">Ошибка м-ра</span>
							<span class="span span__block">закуп</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Большов А.</span>
							<span class="span span-date">-1126</span>
							<span class="span span__numeric">Дизайнеру</span>
							<span class="span span__block">№1251234, Чек 12312412, ВП 424125, ДВ 1231234</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Гущин А.</span>
							<span class="span span-date">967</span>
							<span class="span span__numeric">Доплата</span>
							<span class="span span__block">13220</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Горнова А.</span>
							<span class="span span-date">-10</span>
							<span class="span span__numeric">Ошибка м-ра</span>
							<span class="span span__block">закуп</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Большов А.</span>
							<span class="span span-date">-1126</span>
							<span class="span span__numeric">Дизайнеру</span>
							<span class="span span__block">№1251234, Чек 12312412, ВП 424125, ДВ 1231234</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Гущин А.</span>
							<span class="span span-date">967</span>
							<span class="span span__numeric">Доплата</span>
							<span class="span span__block">13220</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Горнова А.</span>
							<span class="span span-date">-10</span>
							<span class="span span__numeric">Ошибка м-ра</span>
							<span class="span span__block">закуп</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Большов А.</span>
							<span class="span span-date">-1126</span>
							<span class="span span__numeric">Дизайнеру</span>
							<span class="span span__block">№1251234, Чек 12312412, ВП 424125, ДВ 1231234</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Гущин А.</span>
							<span class="span span-date">967</span>
							<span class="span span__numeric">Доплата</span>
							<span class="span span__block">13220</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Горнова А.</span>
							<span class="span span-date">-10</span>
							<span class="span span__numeric">Ошибка м-ра</span>
							<span class="span span__block">закуп</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Большов А.</span>
							<span class="span span-date">-1126</span>
							<span class="span span__numeric">Дизайнеру</span>
							<span class="span span__block">№1251234, Чек 12312412, ВП 424125, ДВ 1231234</span>
						</div>
						<div class="middle__brands__table__block middle__brands__table__block">
							<span class="span span-score">518186</span>
							<span class="span span-order">08.01.18</span>
							<span class="span span-number">Гущин А.</span>
							<span class="span span-date">967</span>
							<span class="span span__numeric">Доплата</span>
							<span class="span span__block">13220</span>
						</div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>