 {% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="section">
			{% include 'middle/editing_task/task.html' %}
			<div class="content content__reports-1">
				<div class="section__title section__title__report-3">
					<h2 class="section__text">Отчет по
						<a href="" class="section__text__a">установке</a>
					</h2>
				</div>
				<div class="section__select section__title">
					<div class="item__main">
						<span class="item-name">Дата заказа</span>
						<input class="date item-date item-date-last" type="date"></input>
					</div>
					<div class="item__main">
						<span class="item-name">Статус</span>
						<select class="select select__category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item__main">
						<span class="item-name">Статус</span>
						<select class="select select__category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item__buttons">
						<label class="checkbox search__checkbox">
							<input type="checkbox" class="checkbox__input">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Скачать файл отчета</span>
						</label>
						<a href=" # " class="button button-save">
							Сформировать
							<span class="img"></span>
						</a>
					</div>
				</div>
				<div class="section__brands ">
					<div class="section__table section__report-2">
						<div class="table__title table__title">
							<span class="span span__score">Заказ</span>
							<span class="span span__order">Менеджер</span>
							<span class="span span-number">Компания</span>
							<span class="span span__date">Состав заказа</span>
							<span class="span span-numeric">Стоимость</span>
							<span class="span span-block">За МКАД</span>
							<span class="span span__commission">Ком-ия</span>
							<span class="span span-wage">З/П</span>
							<span class="span span__provider">Ком-ия поставщика</span>
							<span class="span span-received">Получено</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Шкаф духовой (бесплатное)</span>
								<span class="info">Гриль (бесплатное)</span>
								<span class="info">Посудомоечная машина (бесплатное)</span>
								<span class="info">Стиральная машина (бесплатное)</span>
								<span class="info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="info">Пароварка (бесплатное)</span>
								<span class="info">Подогреватель посуды (бесплатное)</span>
								<span class="info">Кофемашина (бесплатное)</span>
								<span class="info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Шкаф духовой (бесплатное)</span>
								<span class="info">Гриль (бесплатное)</span>
								<span class="info">Посудомоечная машина (бесплатное)</span>
								<span class="info">Стиральная машина (бесплатное)</span>
								<span class="info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="info">Пароварка (бесплатное)</span>
								<span class="info">Подогреватель посуды (бесплатное)</span>
								<span class="info">Кофемашина (бесплатное)</span>
								<span class="info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Шкаф духовой (бесплатное)</span>
								<span class="info">Гриль (бесплатное)</span>
								<span class="info">Посудомоечная машина (бесплатное)</span>
								<span class="info">Стиральная машина (бесплатное)</span>
								<span class="info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="info">Пароварка (бесплатное)</span>
								<span class="info">Подогреватель посуды (бесплатное)</span>
								<span class="info">Кофемашина (бесплатное)</span>
								<span class="info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Шкаф духовой (бесплатное)</span>
								<span class="info">Гриль (бесплатное)</span>
								<span class="info">Посудомоечная машина (бесплатное)</span>
								<span class="info">Стиральная машина (бесплатное)</span>
								<span class="info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="info">Пароварка (бесплатное)</span>
								<span class="info">Подогреватель посуды (бесплатное)</span>
								<span class="info">Кофемашина (бесплатное)</span>
								<span class="info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Шкаф духовой (бесплатное)</span>
								<span class="info">Гриль (бесплатное)</span>
								<span class="info">Посудомоечная машина (бесплатное)</span>
								<span class="info">Стиральная машина (бесплатное)</span>
								<span class="info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="info">Пароварка (бесплатное)</span>
								<span class="info">Подогреватель посуды (бесплатное)</span>
								<span class="info">Кофемашина (бесплатное)</span>
								<span class="info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
						<div class="table__block js-table__block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span-number">Марат</span>
							<span class="span span__date">
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
								<span class="info info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span-numeric">10000</span>
							<span class="span span-block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span-wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span-received">400</span>
						</div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.section__container -->
		</div>
		<!-- /.section -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>