 {% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
			{% include 'middle/editing_task/task.html' %}
			<div class="content content_index_11">
				<div class="middle__title middle__title_report_3">
					<h2 class="middle__title__h2">Отчет по
						<a href="" class="middle__title__h2__a">установке</a>
					</h2>
				</div>
				<div class="middle__title__select middle__title__select_index_11">
					<div class="item_main">
						<span class="item_name">Дата заказа</span>
						<input class="item item_date item_date_last" type="date"></input>
					</div>
					<div class="item_main">
						<span class="item_name">Статус</span>
						<select class="select select-category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item_main">
						<span class="item_name">Статус</span>
						<select class="select select-category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item_buttons">
						<label class="checkbox search__checkbox">
							<input type="checkbox" class="checkbox__input">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Скачать файл отчета</span>
						</label>
						<a href=" # " class="button button_save">
							Сформировать
							<span class="img"></span>
						</a>
					</div>
				</div>
				<div class="middle__brands middle__brands_index_11">
					<div class="middle__brands_table middle__brands_table_report_2">
						<div class="middle__brands_table_title middle__brands_table_title">
							<span class="span span__score">Заказ</span>
							<span class="span span__order">Менеджер</span>
							<span class="span span__number">Компания</span>
							<span class="span span__date">Состав заказа</span>
							<span class="span span__numeric">Стоимость</span>
							<span class="span span__block">За МКАД</span>
							<span class="span span__commission">Ком-ия</span>
							<span class="span span__wage">З/П</span>
							<span class="span span__provider">Ком-ия поставщика</span>
							<span class="span span__received">Получено</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Шкаф духовой (бесплатное)</span>
								<span class="span__date_info">Гриль (бесплатное)</span>
								<span class="span__date_info">Посудомоечная машина (бесплатное)</span>
								<span class="span__date_info">Стиральная машина (бесплатное)</span>
								<span class="span__date_info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="span__date_info">Пароварка (бесплатное)</span>
								<span class="span__date_info">Подогреватель посуды (бесплатное)</span>
								<span class="span__date_info">Кофемашина (бесплатное)</span>
								<span class="span__date_info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Шкаф духовой (бесплатное)</span>
								<span class="span__date_info">Гриль (бесплатное)</span>
								<span class="span__date_info">Посудомоечная машина (бесплатное)</span>
								<span class="span__date_info">Стиральная машина (бесплатное)</span>
								<span class="span__date_info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="span__date_info">Пароварка (бесплатное)</span>
								<span class="span__date_info">Подогреватель посуды (бесплатное)</span>
								<span class="span__date_info">Кофемашина (бесплатное)</span>
								<span class="span__date_info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Шкаф духовой (бесплатное)</span>
								<span class="span__date_info">Гриль (бесплатное)</span>
								<span class="span__date_info">Посудомоечная машина (бесплатное)</span>
								<span class="span__date_info">Стиральная машина (бесплатное)</span>
								<span class="span__date_info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="span__date_info">Пароварка (бесплатное)</span>
								<span class="span__date_info">Подогреватель посуды (бесплатное)</span>
								<span class="span__date_info">Кофемашина (бесплатное)</span>
								<span class="span__date_info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Шкаф духовой (бесплатное)</span>
								<span class="span__date_info">Гриль (бесплатное)</span>
								<span class="span__date_info">Посудомоечная машина (бесплатное)</span>
								<span class="span__date_info">Стиральная машина (бесплатное)</span>
								<span class="span__date_info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="span__date_info">Пароварка (бесплатное)</span>
								<span class="span__date_info">Подогреватель посуды (бесплатное)</span>
								<span class="span__date_info">Кофемашина (бесплатное)</span>
								<span class="span__date_info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Шкаф духовой (бесплатное)</span>
								<span class="span__date_info">Гриль (бесплатное)</span>
								<span class="span__date_info">Посудомоечная машина (бесплатное)</span>
								<span class="span__date_info">Стиральная машина (бесплатное)</span>
								<span class="span__date_info">СВЧ(микроволновая печь(бесплатное)</span>
								<span class="span__date_info">Пароварка (бесплатное)</span>
								<span class="span__date_info">Подогреватель посуды (бесплатное)</span>
								<span class="span__date_info">Кофемашина (бесплатное)</span>
								<span class="span__date_info">Винный шкаф (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Гущин А.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
								<span class="span__date_info">Вытяжка островного типа (гипсокартон, 2 мастера) (бесплатное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
						<div class="middle__brands_table_block js-middle__brands_table_block">
							<span class="span span__score">518186</span>
							<span class="span span__order">Колесников В.</span>
							<span class="span span__number">Марат</span>
							<span class="span span__date">
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
								<span class="span__date_info span__date_info-green">Стиральная машина (платное)</span>
							</span>
							<span class="span span__numeric">10000</span>
							<span class="span span__block">0</span>
							<span class="span span__commission">-6000</span>
							<span class="span span__wage">-600</span>
							<span class="span span__provider">-4000</span>
							<span class="span span__received">400</span>
						</div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>