{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="section section__model-page">
			<div class="content">
				<div class="section__title">
					<h2 class="section__text">Поиск по каталогу
						<a href="" class="text__a">Hausdorf</a>
						<img src="{{src}}external_blue.svg" alt="" class="section__text__img">
					</h2>
					<div class="section__select">
						<select class="select select__score" required>
							<option value="">Магазин</option>
							<optgroup label="монобренды"></optgroup>
							{% for item in data.menu.monobrands %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
							<optgroup label="мультибренд"></optgroup>
							{% for item in data.menu.multibrand %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
						</select>
						<select class="select select__category">
							<option value="">Категория</option>
							{% for item in data.menu.item %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
						</select>
						<form class="form">
							<input class='input' type="text" placeholder="Поиск модели…">
							<img src="{{src}}settings.svg" alt="" class="form__img form__img_settings">
							<img src="{{src}}magnifyingglass.svg" alt="" class="form__img form__img_magnifyingglass">
						</form>
					</div>
					<div class="model-page__title">
						<div class="model-page__description">
							<div class="model-page__text">
								<h2 class="model-page__h2">
									Bosch KIR 41AF20R
								</h2>
								<h5 class="model-page__h5">
									Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla
								</h5>
							</div>
							<div class="model-page__checkbox">
								{% include 'checkbox/checkbox.html' %}
							</div>
							<div class="model-page__buttons">
								<a href=" # " class="button model-page__button ">Добавить
									<span class="button-plus"></span>
								</a>
								<select class="section__select select select_city ">
									<option value=" ">город</option>
									<option class="option  ">Москва</option>
								</select>
							</div>
						</div>
						<div class="model-page__table">
							<h5 class="model-page__h6">
								<span class="model-page__img"></span>
								Бренд:
								<span class="model-page__span">4156</span>
							</h5>
							<h5 class="model-page__h6_two">
								Рекламации:
								<span class="model-page__span model-page__span_red">Да</span>
							</h5>
							<h5 class="model-page__h6">
								<span class="model-page__img"></span>
								UNID:
								<span class="model-page__span">529675</span>
							</h5>
							<h5 class="model-page__h6_two">
								Снят с производства:
								<input type="text" readonly value="Нет" class="model-page__span model-page__span_green">
							</h5>
							<h5 class="model-page__h6">
								<span class="model-page__img"></span>
								Магазины:
								<span class="model-page__span">4157 / 3478 / 22734</span>
							</h5>
							<h5 class="model-page__h6_two">
								Ручник:
								<input type="text" readonly value="Не снимать" class="model-page__span model-page__span_red">
							</h5>
							<h5 class="model-page__h6">
								<span class="model-page__img"></span>
								Модель:
								<span class="model-page__span">KIR 41AF20R</span>
							</h5>
							<h5 class="model-page__h6_two">
								Бесплатные услуги:
								<span class="model-page__span model-page__span_violet">Доставка + Подключение</span>
							</h5>
						</div>
					</div>
				</div>
				<div class="section__brands">
					<div class="section__table">
						<div class="section__nav nav">
							<h3 class="nav__text js_nav__text">Поставщики
								<span class="nav__text_span">25</span>
							</h3>
							<h3 class="nav__text js_nav__text">Магазины
								<span class="nav__text_span">5</span>
							</h3>
							<h3 class="nav__text js_nav__text">Комментарии
								<span class="nav__text_span">0</span>
							</h3>
						</div>
						<div class="table__title">
							<span class="span span__model ">
								<span class="span span__bars"></span>Поставщик
								<span class="span span__arrows"></span>
							</span>
							<span class="span span__availability">Наличие</span>
							<span class="span span__purchase ">Закупка</span>
							<span class="span span__commission ">Продажа</span>
							<span class="span span__formula ">Я.Маркет среднее</span>
						</div>
						<div class="table__block">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="model-page__check">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input readonly value="в наличии" type="text" class="span span__availability ">
							</div>
							<div class="model-page__check model-page__check_two">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input type="text" readonly value="399 950" class="span span__sale ">
								<span class="span span__cost ">₽</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span span__cost ">₽</span>
							</span>
						</div>
						<div class="table__block model-page__block">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="model-page__check">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input readonly value="в наличии" type="text" class="span span__availability ">
							</div>
							<div class="model-page__check model-page__check_two">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input type="text" readonly value="399 950" class="span span__sale ">
								<span class="span span__cost ">₽</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span span__cost ">₽</span>
							</span>
						</div>
						<div class="table__block model-page__block">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="model-page__check">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input readonly value="в наличии" type="text" class="span span__availability">
							</div>
							<div class="model-page__check model-page__check_two">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input type="text" readonly value="399 950" class="span span__sale ">
									<span class="span span__cost ">₽</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span span__cost ">₽</span>
							</span>
						</div>
						<div class="table__block model-page__block">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="model-page__check model-page__check_color">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input readonly value="в наличии" type="text" class="span span__availability ">
							</div>
							<div class="model-page__check model-page__check_two">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input type="text" readonly value="399 950" class="span span__sale ">
									<span class="span span__cost ">₽</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span span__cost ">₽</span>
							</span>
						</div>
						<div class="table__block model-page__block">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="model-page__check">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input readonly value="в наличии" type="text" class="span span__availability ">
							</div>
							<div class="model-page__check model-page__check_two">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input type="text" readonly value="399 950" class="span span__sale ">
									<span class="span span__cost ">₽</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span span__cost ">₽</span>
							</span>
						</div>
						<div class="table__block model-page__block">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="model-page__check">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input readonly value="в наличии" type="text" class="span span__availability">
							</div>
							<div class="model-page__check model-page__check_two">
								<div class="slideThree active">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<input type="text" readonly value="399 950" class="span span__sale ">
									<span class="span span__cost ">₽</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span span__cost ">₽</span>
							</span>
						</div>
						<div class="table__block model-page__block">
							<a href="" class="model-page__a">Загрузить все </a>
							<span class="button-plus"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="section__news">
				<div class="news ">
					<div class="news__title ">
						<h2 class="news__h2 ">Новости</h2>
						<span class="news__hide ">Скрыть
							<img class="img " src="{{src}}arrow-right.svg " alt=" ">
						</span>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_pink">
								<h5 class="item__h5">Общая информация</h5>
								<h6 class="item__h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="news__item news__item_green">
								<h5 class="item__h5">Правилах посещения шоурума</h5>
								<h6 class="item__h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks ">
						<div class="news__block ">
							<h6 class="news__h6 ">22.11.17</h6>
							<h5 class="news__h5 ">Hausdorf</h5>
							<img src="{{src}}warning.svg " alt=" " class="news__img ">
						</div>
						<h5 class="news__h3 ">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4 ">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items ">
							<div class="news__item news__item_red ">
								<h5 class="item__h5 ">Правила</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="news__item news__item_yellow ">
								<h5 class="item__h5 ">Скидки</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
					<div class="news__blocks ">
						<div class="news__block ">
							<h6 class="news__h6 ">22.11.17</h6>
							<h5 class="news__h5 ">Hausdorf</h5>
							<img src="{{src}}warning.svg " alt=" " class="news__img ">
						</div>
						<h5 class="news__h3 ">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4 ">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items ">
							<div class="news__item news__item_red ">
								<h5 class="item__h5 ">Правила</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="news__item news__item_yellow ">
								<h5 class="item__h5 ">Скидки</h5>
								<h6 class="item__h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_pink">
								<h5 class="item__h5">Общая информация</h5>
								<h6 class="item__h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="news__item news__item_green">
								<h5 class="item__h5">Правилах посещения шоурума</h5>
								<h6 class="item__h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Aeg</h5>
							<img src="{{src}}warning.svg" alt="" class="news__img">
						</div>
						<h5 class="news__h3">Бесплатное подключение делать нельзя!</h5>
						<h6 class="news__h4">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="news__items">
							<div class="news__item news__item_pink">
								<h5 class="item__h5">Общая информация</h5>
								<h6 class="item__h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="news__item news__item_red">
								<h5 class="item__h5">Правила</h5>
								<h6 class="item__h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="news__item news__item_green">
								<h5 class="item__h5">Правилах посещения шоурума</h5>
								<h6 class="item__h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="news__item news__item_yellow">
								<h5 class="item__h5">Скидки</h5>
								<h6 class="item__h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="news__border"></div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.section__container -->
		</div>
		<!-- /.section -->

	</div>
	<!-- /.wrapper -->
	{% include 'connect/script.html' %}
</body>

</html>