{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
			<div class="content">
				<div class="middle__title">
					<h2 class="middle__title__h2">Поиск по каталогу
						<a href="" class="middle__title__h2__a">Hausdorf</a>
						<img src="{{src}}external_blue.svg" alt="" class="middle__title__h2__img">
					</h2>
					<div class="middle__title__select">
						<select class="select select-score" required>
							<option value="">Магазин</option>
							<optgroup label="монобренды"></optgroup>
							{% for item in data.menu.monobrands %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
							<optgroup label="мультибренд"></optgroup>
							{% for item in data.menu.multibrand %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
						</select>
						<select class="select select-category">
							<option value="">Категория</option>
							{% for item in data.menu.item %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
						</select>
						<form class="form">
							<input class='input' type="text" placeholder="Поиск модели…">
							<img src="{{src}}settings.svg" alt="" class="button button_settings">
							<img src="{{src}}magnifyingglass.svg" alt="" class="button button_magnifyingglass">
						</form>
					</div>
					<div class="pagination__items">
						<select class="select pagination__items__select">
							<option value="">город</option>
							<option class="option ">Москва</option>
						</select>
						<h4 class="pagination__items__h4">Найдено
							<span class="pagination__items__h4__span">
								1084
							</span>
							моделей(
							<span class="pagination__items__h4__span">50 </span> &nbsp на странице)
						</h4>
						{% include 'pagination/pagination.html' %}
					</div>
				</div>
				<div class="middle__brands">
					<div class="middle__brands_table">
						<div class="middle__brands_table_title">
							<span class="span span__brand">Бренд</span>
							<span class="span span__model"><span class="span__model_bars"></span> Модель<span class="span__model_arrows"></span></span>
							<span class="span span__availability">Наличие</span>
							<span class="span span__sale">Продажа<span class="span__model_arrows"></span></span>
							<span class="span span__purchase">Закупка</span>
							<span class="span span__commission">Комиссия</span>
							<span class="span span__formula">Формула</span>
							<span class="span span__unid">Unid</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
						<div class="middle__brands_table_block">
							<span class="span span__brand">Kuppersbusch</span>
							<span class="span span__model">R-X 690 GU X</span>
							<span class="span span__availability">в наличии</span>
							<span class="span span__sale">399 950<span class="span__cost">₽</span></span>
							<span class="span span__purchase">310 130<span class="span__cost">₽</span></span>
							<span class="span span__commission">89 820<span class="span__cost">₽</span></span>
							<span class="span span__formula">закуп<span class="span__plus">+</span>14,5<span class="span__cost">₽</span></span>
							<span class="span span__unid">591530</span>
						</div>
					</div>
				</div>
			</div>
			<div class="content__news">
				<div class="middle__news">
					<div class="middle__news__title">
						<h2 class="h2 middle__news__title_h2">Новости</h2>
						<span class="span middle__news__title_span">Скрыть
							<img class="img" src="{{src}}arrow-right.svg" alt="">
						</span>
					</div>
					<div class="middle__news__blocks">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Hausdorf</h5>
							<img src="{{src}}warning.svg" alt="" class="middle__news__block-date__img">
						</div>
						<h5 class="middle__news__block_h5">Бесплатное подключение делать нельзя!</h5>
						<h6 class="middle__news__block_h6">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="middle__news__items">
							<div class="middle__news__item middle__news__item_pink">
								<h5 class="middle__news__item_h5">Общая информация</h5>
								<h6 class="middle__news__item_h6">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="middle__news__item middle__news__item_red">
								<h5 class="middle__news__item_h5">Правила</h5>
								<h6 class="middle__news__item_h6">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="middle__news__item middle__news__item_green">
								<h5 class="middle__news__item_h5">Правилах посещения шоурума</h5>
								<h6 class="middle__news__item_h6">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="middle__news__item middle__news__item_yellow">
								<h5 class="middle__news__item_h5">Скидки</h5>
								<h6 class="middle__news__item_h6">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Hausdorf</h5>
							<img src="{{src}}warning.svg" alt="" class="middle__news__block-date__img">
						</div>
						<h5 class="middle__news__block_h5">Бесплатное подключение делать нельзя!</h5>
						<h6 class="middle__news__block_h6">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="middle__news__items">
							<div class="middle__news__item middle__news__item_red">
								<h5 class="middle__news__item_h5">Правила</h5>
								<h6 class="middle__news__item_h6">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="middle__news__item middle__news__item_yellow">
								<h5 class="middle__news__item_h5">Скидки</h5>
								<h6 class="middle__news__item_h6">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
</body>

</html>