{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
			<div class="content">
				<div class="middle__title">
					<h2 class="middle__title__h2">Поиск по каталогу
						<a href="" class="middle__title__h2__a">Hausdorf</a>
						<img src="{{src}}external_blue.svg" alt="" class="middle__title__h2__img">
					</h2>
					<div class="middle__title__select">
						<select class="select select-score" required>
							<option value="">Магазин</option>
							<optgroup label="монобренды"></optgroup>
							{% for item in data.menu.monobrands %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
							<optgroup label="мультибренд"></optgroup>
							{% for item in data.menu.multibrand %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
						</select>
						<select class="select select-category">
							<option value="">Категория</option>
							{% for item in data.menu.item %}
							<option class="option ">{{ item }}</option>
							{% endfor %}
						</select>
						<form class="form">
							<input class='input' type="text" placeholder="Поиск модели…">
							<img src="{{src}}settings.svg" alt="" class="button button_settings">
							<img src="{{src}}magnifyingglass.svg" alt="" class="button button_magnifyingglass">
						</form>
					</div>
					<div class="middle__title__model_page">
						<div class="model_page_description">
							<div class="model_page_description_text">
								<h2 class="model_page_description_text_h2">
									Bosch KIR 41AF20R
								</h2>
								<h5 class="model_page_description_text_h5">
									Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla
								</h5>
							</div>
							<div class="model_page_description_checkbox">
								{% include 'checkbox/checkbox.html' %}
							</div>
							<div class="model_page_description_buttons">
								<a href=" # " class="model_page_button ">Добавить
									<span class="description_button"></span>
								</a>
								<select class="middle__title__select select select-city ">
									<option value=" ">город</option>
									<option class="option  ">Москва</option>
								</select>
							</div>
						</div>
						<div class="model_page_table">
							<h5 class="model_page_table_h5">
								<span class="model_page_table_h5_img"></span>
								Бренд:
								<span class="model_page_table_h5_span">4156</span>
							</h5>
							<h5 class="model_page_table_h5_two">
								Рекламации:
								<span class="model_page_table_h5_two_span_red">Да</span>
							</h5>
							<h5 class="model_page_table_h5">
								<span class="model_page_table_h5_img"></span>
								UNID:
								<span class="model_page_table_h5_span">529675</span>
							</h5>
							<h5 class="model_page_table_h5_two">
								Снят с производства:
								<span class="model_page_table_h5_two_span_green">Нет</span>
							</h5>
							<h5 class="model_page_table_h5">
								<span class="model_page_table_h5_img"></span>
								Магазины:
								<span class="model_page_table_h5_span">4157 / 3478 / 22734</span>
							</h5>
							<h5 class="model_page_table_h5_two">
								Ручник:
								<span class="model_page_table_h5_two_span_red">Не снимать</span>
							</h5>
							<h5 class="model_page_table_h5">
								<span class="model_page_table_h5_img"></span>
								Модель:
								<span class="model_page_table_h5_span">KIR 41AF20R</span>
							</h5>
							<h5 class="model_page_table_h5_two">
								Бесплатные услуги:
								<span class="model_page_table_h5_two_span_violet">Доставка + Подключение</span>
							</h5>
						</div>
					</div>
				</div>
				<div class="middle__brands ">
					<div class="middle__brands_table ">
						<div class="middle__brands_table_nav">
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Поставщики
								<span class="middle__brands_table_nav_h3_span">25</span>
							</h3>
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Магазины
								<span class="middle__brands_table_nav_h3_span">5</span>
							</h3>
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Комментарии
								<span class="middle__brands_table_nav_h3_span">0</span>
							</h3>
						</div>
						<div class="middle__brands_table_title middle__brands_table_title_model_page">
							<span class="span span__model ">
								<span class="span__model_bars"></span>Поставщик
								<span class="span__model_arrows "></span>
							</span>
							<span class="span span__availability">Наличие</span>
							<span class="span span__purchase ">Закупка</span>
							<span class="span span__commission ">Продажа</span>
							<span class="span span__formula ">Я.Маркет среднее</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="middle__brands_table_block_checkbox">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__availability ">в наличии</span>
							</div>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_two">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__sale ">399 950
									<span class="span__cost ">₽</span>
								</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span__cost ">₽</span>
							</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="middle__brands_table_block_checkbox">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__availability ">в наличии</span>
							</div>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_two">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__sale ">399 950
									<span class="span__cost ">₽</span>
								</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span__cost ">₽</span>
							</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="middle__brands_table_block_checkbox">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__availability ">в наличии</span>
							</div>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_two">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__sale ">399 950
									<span class="span__cost ">₽</span>
								</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span__cost ">₽</span>
							</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_color">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__availability">Под заказ</span>
							</div>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_two">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__sale ">399 950
									<span class="span__cost ">₽</span>
								</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span__cost ">₽</span>
							</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="middle__brands_table_block_checkbox">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__availability ">в наличии</span>
							</div>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_two">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__sale ">399 950
									<span class="span__cost ">₽</span>
								</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span__cost ">₽</span>
							</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<span class="span span__brand ">Kuppersbusch</span>
							<div class="middle__brands_table_block_checkbox">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__availability ">в наличии</span>
							</div>
							<div class="middle__brands_table_block_checkbox middle__brands_table_block_checkbox_two">
								<div class="slideThree ">
									<input type="checkbox" value="None" id="slideThree" name="check" checked />
									<label class="label" for="slideThree"></label>
								</div>
								<span class="span span__sale ">399 950
									<span class="span__cost ">₽</span>
								</span>
							</div>
							<span class="span span__purchase ">310 130
								<span class="span__cost ">₽</span>
							</span>
							<span class="span span__commission ">89 820
								<span class="span__cost ">₽</span>
							</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block_index_4">
							<a href="" class="middle__brands_table_block_index_4_a">Загрузить все </a>
							<span class="description_button"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content__news ">
				<div class="middle__news ">
					<div class="middle__news__title ">
						<h2 class="h2 middle__news__title_h2 ">Новости</h2>
						<span class="span middle__news__title_span ">Скрыть
							<img class="img " src="{{src}}arrow-right.svg " alt=" ">
						</span>
					</div>
					<div class="middle__news__blocks ">
						<div class="middle__news__block-date ">
							<h6 class="middle__news__block-date__h6 ">22.11.17</h6>
							<h5 class="middle__news__block-date__h5 ">Hausdorf</h5>
							<img src="{{src}}warning.svg " alt=" " class="middle__news__block-date__img ">
						</div>
						<h5 class="middle__news__block_h5 ">Бесплатное подключение делать нельзя!</h5>
						<h6 class="middle__news__block_h6 ">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="middle__news__items ">
							<div class="middle__news__item middle__news__item_pink ">
								<h5 class="middle__news__item_h5 ">Общая информация</h5>
								<h6 class="middle__news__item_h6 ">На сайте выставлено строгое РРЦ от 16.02.2017</h6>
							</div>
							<div class="middle__news__item middle__news__item_red ">
								<h5 class="middle__news__item_h5 ">Правила</h5>
								<h6 class="middle__news__item_h6 ">Берем товар у того, кто отдает его дешевле всего!</h6>
							</div>
							<div class="middle__news__item middle__news__item_green ">
								<h5 class="middle__news__item_h5 ">Правилах посещения шоурума</h5>
								<h6 class="middle__news__item_h6 ">Первое правило ШОУРУМА – Ни когда не говори о ШОУРУМЕ</h6>
							</div>
							<div class="middle__news__item middle__news__item_yellow ">
								<h5 class="middle__news__item_h5 ">Скидки</h5>
								<h6 class="middle__news__item_h6 ">Скидки на товары по официальным акциям от представительства</h6>
							</div>
						</div>
						<div class="middle__news__block_border "></div>
					</div>
					<div class="middle__news__blocks ">
						<div class="middle__news__block-date ">
							<h6 class="middle__news__block-date__h6 ">22.11.17</h6>
							<h5 class="middle__news__block-date__h5 ">Hausdorf</h5>
							<img src="{{src}}warning.svg " alt=" " class="middle__news__block-date__img ">
						</div>
						<h5 class="middle__news__block_h5 ">Бесплатное подключение делать нельзя!</h5>
						<h6 class="middle__news__block_h6 ">Скидки на товары только по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону
							− 5 % (или клиент может получить бесплатное подключение)</h6>
						<div class="middle__news__items ">
							<div class="middle__news__item middle__news__item_red ">
								<h5 class="middle__news__item_h5 ">Правила</h5>
								<h6 class="middle__news__item_h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
							<div class="middle__news__item middle__news__item_yellow ">
								<h5 class="middle__news__item_h5 ">Скидки</h5>
								<h6 class="middle__news__item_h6 ">Скидки на товары по официальным акциям от представительства. Можно делать самостоятельную скидку по телефону − 5
									% (или клиент может получить бесплатное подключение)</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>