 {% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="section">
			{% include 'middle/editing_task/task.html' %}
			<div class="content content__reports-1">
				<div class="section__title">
					<h2 class="section__text">Отчет по
						<a href="" class="section__text__a">выручке</a>
					</h2>
				</div>
				<div class="section__title section__select">
					<div class="item__main">
						<span class="item__name">Дата заказа</span>
						<input class="date item__date item__date_last" type="date"></input>
					</div>
					<div class="item__main">
						<span class="item__name">Дата доставки</span>
						<input class="date item__date item__date_last" type="date"></input>
					</div>
					<div class="item__main">
						<span class="item__name">Статус</span>
						<select class="select select__category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item__main item__main-last">
						<span class="item__name ">Регион</span>
						<select class="select select__category">
							<option value="">Категория</option>
							<option class="option ">{{ item }}</option>
						</select>
					</div>
					<div class="item__buttons">
						<label class="checkbox search__checkbox">
							<input type="checkbox" class="checkbox__input">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Скачать файл отчета</span>
						</label>
						<a href=" # " class="button button-save">
							Сформировать
							<span class="img"></span>
						</a>
					</div>
				</div>
				<div class="section__title__link">
					<a href="#" class="link-buttons">Все заказы</a>
					<a href="#" class="link-buttons">Неофицальные заказы</a>
					<a href="#" class="link-buttons">Офицальные заказы</a>
					<a href="#" class="link-buttons">Все заказы менеджеры РЭТ</a>
					<a href="#" class="link-buttons">Все заказы менеджеры HD</a>
					<a href="#" class="link-buttons">Неофициальные заказы менеджеры РЭТ</a>
					<a href="#" class="link-buttons">Неофициальные заказы менеджеры HD</a>
					<a href="#" class="link-buttons">Офицальные заказы менеджеры РЭТ</a>
					<a href="#" class="link-buttons">Офицальные заказы менеджеры HD</a>
				</div>
				<div class="section__brands section__brands__reports-1">
					<div class="section__table">
						<div class="table__title">
							<span class="span span__score">Магазин</span>
							<span class="span span__order">Заказ</span>							
							<span class="span span__number">Заказ</span>
							<span class="span span__date">Заказ</span>
							<span class="span span__numeric">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">Заказ</span>
							<span class="span span__block">sel</span>
							<span class="span span__block">asr</span>
							<span class="span span__block">нтк</span>
							<span class="span span__block">hdw</span>
							<span class="span span__block">днк</span>
							<span class="span span__block">вхд</span>
							<span class="span span__block">fhs</span>
							<span class="span span__block">пбт</span>
							<span class="span span__block">ктг</span>
							<span class="span span__block">всл</span>
							<span class="span span__block">цвт</span>
							<span class="span span__block">мгл</span>
							<span class="span span__block">ТХП</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
						<div class="table__block ">
								<span class="span span__score">blanco-design.ru</span>
								<span class="span span__order">38</span>
								<span class="span span__number">17</span>
								<span class="span span__date">410990</span>
								<span class="span span__numeric">226173</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">134820</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">2330</span>
								<span class="span span__block">23</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">36777</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">13220</span>
								<span class="span span__block">23300</span>
								<span class="span span__block">20910</span>
								<span class="span span__block">2910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">2310</span>
								<span class="span span__block">30910</span>
								<span class="span span__block">910</span>
								<span class="span span__block">2330910</span>
								<span class="span span__block">20910</span>
						</div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.section__container -->
		</div>
		<!-- /.section -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>