{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="section">
				{% include 'middle/editing_task/task.html' %}
			<div class="content">
				<div class="section__title">
					<h2 class="section__text">Контроль качества
					</h2>
				</div>
				<div class="section__brands">
					<div class="section__table section__OKK-3">
						<div class="section__nav nav">
							<h3 class="nav__text js_nav__text">Рекламации
							</h3>
							<h3 class="nav__text js_nav__text">Проблемы
							</h3>
							<h3 class="nav__text js_nav__text">Отзывы
							</h3>
							<h3 class="nav__text js_nav__text">Задачи ОКК
							</h3>
							<h3 class="nav__text js_nav__text">Архив
							</h3>
							<div class="nav__download js_download">
								<span class="span__download"></span>
							</div>
							{% include 'pagination/pagination.html' %}
						</div>
						<div class="table__title OKK-3__title">
							<span class="span span__order">Заказ</span>
							<span class="span span__score">Магазин</span>
							<span class="span span__provider">Поставщик</span>
							<span class="span span__manager">
								<span class="span span__bars"></span> Менеджер
							</span>
							<span class="span span__date">Дата</span>
							<span class="span span__contacts">Контакты клиента</span>
							<span class="span span__client">Комментарий</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Кудрявцева Елизавета Петровна</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">«ООО "Строительные технологии"»</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
						<div class="table__block OKK-3__block">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__unid">ЦВТ</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__client">
								<span class="span__math js_span__math"></span>
								<span class="client__main">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
									<span class="client__info">Телефон
										<span class="client__mobile">89653819991</span>
									</span>
									<span class="client__info">Email
										<span class="client__email">adriatica@mail.ru</span>
									</span>
									<span class="client__info">Адрес
										<span class="client__address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
									</span>
								</span>
								<span class="client__items">
									<span class="client__info">
										<span class="client__name">Имя</span>
										<span class="client__mainname">Каракозов Генрих</span>
									</span>
								</span>
							</span>
							<span class="span span__purchase">Не привезли ГТ</span>
						</div>
					</div>
				</div>
			</div>
			<div class="section__news">
				<div class="news">
					<div class="news__title">
						<h2 class="news__h2">Задачи ОКК</h2>
						<span class="news__hide">Скрыть
							<img class="img" src="{{src}}arrow-right.svg" alt="">
						</span>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Gaggenau</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">529366</span>
						</h5>
						<h6 class="news__h4">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Blanco</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">558412</span>
						</h5>
						<h6 class="news__h4">Течет кран</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Kaiser</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">602246</span>
						</h5>
						<h6 class="news__h4">Чайник сломался</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Gaggenau</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">529366</span>
						</h5>
						<h6 class="news__h4">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Blanco</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">558412</span>
						</h5>
						<h6 class="news__h4">Течет кран</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Kaiser</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">602246</span>
						</h5>
						<h6 class="news__h4">Чайник сломался</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Gaggenau</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">529366</span>
						</h5>
						<h6 class="news__h4">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Blanco</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">558412</span>
						</h5>
						<h6 class="news__h4">Течет кран</h6>
						<div class="news__border"></div>
					</div>
					<div class="news__blocks news__index_5">
						<div class="news__block">
							<h6 class="news__h6">22.11.17</h6>
							<h5 class="news__h5">Kaiser</h5>
						</div>
						<h5 class="news__h3">Задача
							<span class="news__h3_span">602246</span>
						</h5>
						<h6 class="news__h4">Чайник сломался</h6>
						<div class="news__border"></div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.section__container -->
		</div>
		<!-- /.section -->

	</div>
	<!-- /.wrapper -->
	{% include 'connect/script.html' %}
</body>

</html>