{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
				{% include 'middle/editing_task/task.html' %}
			<div class="content">
				<div class="middle__title">
					<h2 class="middle__title_h2">Контроль качества
					</h2>
				</div>
				<div class="middle__brands">
					<div class="middle__brands_table">
						<div class="middle__brands_table_nav">
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Рекламации
							</h3>
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Проблемы
							</h3>
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Отзывы
							</h3>
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Задачи ОКК
							</h3>
							<h3 class="middle__brands_table_nav_h3 js_middle__brands_table_nav_h3">Архив
							</h3>
							<div class="middle__brands_table_nav_download js_download">
								<span class="span_download"></span>
							</div>
							{% include 'pagination/pagination.html' %}
						</div>
						<div class="middle__brands_table_title middle__brands_table_title__index_6">
							<span class="span span__order">Заказ</span>
							<span class="span span__score">Магазин
							</span>
							<span class="span span__manager">
								<span class="span__model_bars"></span> Менеджер
							</span>
							<span class="span span__date">Дата</span>
							<span class="span span__order_list">Состав заказа</span>
							<span class="span span__client">Клиент</span>
							<span class="span span__call">Звонок</span>
							<span class="span span__okk">ОКК</span>
							<span class="span span__feedback">Отзыв</span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Водонагреватель electrolux ewh 50 royal</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">Кудрявцева Елизавета Петровна</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Автомобильный шампунь Karcher RM 527 Эко 5л</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">ООО «Бахетле-Алтуфьево»</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Водонагреватель electrolux ewh 50 royal</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">Кудрявцева Елизавета Петровна</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Автомобильный шампунь Karcher RM 527 Эко 5л</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">ООО «Бахетле-Алтуфьево»</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Водонагреватель electrolux ewh 50 royal</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">Кудрявцева Елизавета Петровна</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Автомобильный шампунь Karcher RM 527 Эко 5л</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">ООО «Бахетле-Алтуфьево»</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Водонагреватель electrolux ewh 50 royal</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">Кудрявцева Елизавета Петровна</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Автомобильный шампунь Karcher RM 527 Эко 5л</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">ООО «Бахетле-Алтуфьево»</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Водонагреватель electrolux ewh 50 royal</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">Кудрявцева Елизавета Петровна</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Автомобильный шампунь Karcher RM 527 Эко 5л</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">ООО «Бахетле-Алтуфьево»</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Водонагреватель electrolux ewh 50 royal</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">Кудрявцева Елизавета Петровна</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands_table_block middle__brands_table_block__index_6">
							<span class="span span__model">614418</span>
							<span class="span span__sale">Smeg</span>
							<span class="span span__manager">Луковников С.</span>
							<span class="span span__date">22.04.18</span>
							<span class="span span__order_list">
								<span class="span__order_list_span">Автомобильный шампунь Karcher RM 527 Эко 5л</span>
								<span class="span__order_list_span">Аппарат высокого давления K 5 COMPACT</span>
								<span class="span__order_list_span">Пенное сопло FJ 6
								</span>
								<span class="span__order_list_span">Угловая струйная трубка</span>
							</span>
							<span class="span span__client">
								<span class="span__client_info">
									<span class="span__client_info_name">Имя</span>
									<span class="span__client_info_mainname">ООО «Бахетле-Алтуфьево»</span>
								</span>
								<span class="span__client_info">Телефон
									<span class="span__client_info_mobile">89653819991</span>

								</span>
								<span class="span__client_info">Email
									<span class="span__client_info_email">adriatica@mail.ru</span>

								</span>
								<span class="span__client_info">Адрес
									<span class="span__client_info_address">420107, Республика ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА ПАВЛЮХИНА, ДОМ 57, КАБИНЕТ 306</span>
								</span>
							</span>
							<span class="span span__call">
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">1</b>
										–недозвон
									</span>
									<span class="span__call_info_date">
										03.04.18
									</span>
								</div>
								<div class="div__call_info">
									<span class="span__call_info">
										<b class="b__call_info">2</b>
										–дозвон
									</span>
									<span class="span__call_info_date">
										04.04.18
									</span>
								</div>
							</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__unid">Нет
							</span>
							<span class="span__math js_span__math"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content__news">
				<div class="middle__news">
					<div class="middle__news__title">
						<h2 class="h2 middle__news__title_h2">Задачи ОКК</h2>
						<span class="span middle__news__title_span">Скрыть
							<img class="img" src="{{src}}arrow-right.svg" alt="">
						</span>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Gaggenau</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">529366</span>
						</h5>
						<h6 class="middle__news__block_h6">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Blanco</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">558412</span>
						</h5>
						<h6 class="middle__news__block_h6">Течет кран</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Kaiser</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">602246</span>
						</h5>
						<h6 class="middle__news__block_h6">Чайник сломался</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Gaggenau</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">529366</span>
						</h5>
						<h6 class="middle__news__block_h6">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Blanco</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">558412</span>
						</h5>
						<h6 class="middle__news__block_h6">Течет кран</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Kaiser</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">602246</span>
						</h5>
						<h6 class="middle__news__block_h6">Чайник сломался</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Gaggenau</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">529366</span>
						</h5>
						<h6 class="middle__news__block_h6">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Blanco</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">558412</span>
						</h5>
						<h6 class="middle__news__block_h6">Течет кран</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block_date">
							<h6 class="middle__news__block_date_h6">22.11.17</h6>
							<h5 class="middle__news__block_date_h5">Kaiser</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">602246</span>
						</h5>
						<h6 class="middle__news__block_h6">Чайник сломался</h6>
						<div class="middle__news__block_border"></div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>