{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		{% include 'header/global/header.html' %}
		<!-- WORKAREA -->
		<div class="middle">
			{% include 'middle/editing_task/task.html' %}
			<div class="content">
				<div class="middle__title">
					<h2 class="middle__title__h2">Контроль качества
					</h2>
				</div>
				<div class="middle__brands">
					<div class="middle__brands__table">
						<div class="middle__brands__table_nav">
							<h3 class="middle__brands__table_nav_h3 js_middle__brands__table_nav_h3">Рекламации
							</h3>
							<h3 class="middle__brands__table_nav_h3 js_middle__brands__table_nav_h3">Проблемы
							</h3>
							<h3 class="middle__brands__table_nav_h3 js_middle__brands__table_nav_h3">Отзывы
							</h3>
							<h3 class="middle__brands__table_nav_h3 js_middle__brands__table_nav_h3">Задачи ОКК
							</h3>
							<h3 class="middle__brands__table_nav_h3 js_middle__brands__table_nav_h3">Архив
							</h3>
							<div class="middle__brands__table_nav_download js_download">
								<span class="span_download"></span>
							</div>
							{% include 'pagination/pagination.html' %}
						</div>
						<div class="middle__brands__table__title middle__brands__table__title__index_5">
							<span class="span span__date">Дата</span>
							<span class="span span__order">Заказ</span>
							<span class="span span__score">Магазин
							</span>
							<span class="span span__okk">ОКК</span>
							<span class="span span__manager">
								<span class="span__model_bars"></span> Менеджер
							</span>
							<span class="span span__task">Задача</span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет,
								то еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях,
								кто это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация.
								Успокоила, надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только
								немного уже паникует. 89168082301 Наталья Николаевна
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет,
								то еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях,
								кто это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация.
								Успокоила, надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только
								немного уже паникует. 89168082301 Наталья Николаевна
							</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
						<div class="middle__brands__table_block middle__brands__table_block__index_5">
							<span class="span span__brand">22.04.18</span>
							<span class="span span__model">614418</span>
							<span class="span span__sale">Asko</span>
							<span class="span span__purchase">Михеев А.</span>
							<span class="span span__commission">Луковников С.</span>
							<span class="span span__unid">Течет кран</span>
							<span class="span__math js_span__math"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content__news">
				<div class="middle__news">
					<div class="middle__news__title">
						<h2 class="h2 middle__news__title_h2">Задачи ОКК</h2>
						<span class="span middle__news__title_span">Скрыть
							<img class="img" src="{{src}}arrow-right.svg" alt="">
						</span>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Gaggenau</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">529366</span>
						</h5>
						<h6 class="middle__news__block_h6">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Blanco</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">558412</span>
						</h5>
						<h6 class="middle__news__block_h6">Течет кран</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Kaiser</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">602246</span>
						</h5>
						<h6 class="middle__news__block_h6">Чайник сломался</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Gaggenau</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">529366</span>
						</h5>
						<h6 class="middle__news__block_h6">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Blanco</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">558412</span>
						</h5>
						<h6 class="middle__news__block_h6">Течет кран</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Kaiser</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">602246</span>
						</h5>
						<h6 class="middle__news__block_h6">Чайник сломался</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Gaggenau</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">529366</span>
						</h5>
						<h6 class="middle__news__block_h6">На плите не работаю конфорки, плиту чинили несколько раз, несколько месяцев уже это продолжается, то деталей нет, то
							еще что-то, они уже ожидают документы о том, что плиту надо менять полностью, но клиентка вся в переживаниях, кто
							это будет делать и как вообще. Доставлял ооо «Антей»; она переживает, что это какая-то непонятная организация. Успокоила,
							надо ей позвонить и сориентировать, что ей делать, Вита, будь добра. Тетя прекрасная и приятная, только немного уже
							паникует. 89168082301 Наталья Николаевна</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Blanco</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">558412</span>
						</h5>
						<h6 class="middle__news__block_h6">Течет кран</h6>
						<div class="middle__news__block_border"></div>
					</div>
					<div class="middle__news__blocks middle__news__blocks_index_5">
						<div class="middle__news__block-date">
							<h6 class="middle__news__block-date__h6">22.11.17</h6>
							<h5 class="middle__news__block-date__h5">Kaiser</h5>
						</div>
						<h5 class="middle__news__block_h5">Задача
							<span class="middle__news__block_h5_span">602246</span>
						</h5>
						<h6 class="middle__news__block_h6">Чайник сломался</h6>
						<div class="middle__news__block_border"></div>
					</div>
				</div>
			</div>
			<!-- END WORKAREA -->
			<!-- /.content -->

			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>