<div class="authorization">
	<div class="authorization__list">
		<div class="authorization__item authorization__item_img">
			<img class="authorization__avatar" src="https://icongr.am/clarity/user.svg" alt="">
		</div>
		<div class="authorization__item authorization__item_text">
			<h4 class="authorization__h4 authorization__h4_name">Алексей Григорьев</h4>
			<!-- <h4 class="authorization__h4 authorization__h4_subname">Тестовый аккаунт</h4> -->
		</div>
		<!-- <div class="authorization__item authorization__item_link">
			<img src="{{src}}calendar.svg" alt="" class="authorization__link">
			<img src="{{src}}settings.svg" alt="" class="authorization__link">
		</div> -->
	</div>
</div>