@font-face {
  font-family: "Webnar - Black";
  src: url(fonts/webnar/Webnar_Black.otf);
  font-weight: 400;
}

@font-face {
  font-family: Webnar;
  src: url(fonts/webnar/Webnar_Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Webnar;
  src: url(fonts/webnar/Webnar_Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Webnar;
  src: url(fonts/webnar/Webnar.otf);
  font-weight: 400;
}

@font-face {
  font-family: Webnar;
  src: url(fonts/webnar/Webnar_Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Exo2-Regular";
  src: url("fonts/exotwo/exo2.eot?") format("eot"),
    url("fonts/exotwo/exo2.woff") format("woff"),
    url("fonts/exotwo/exo2.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2-Medium";
  src: url("fonts/exotwo/exo2medium.eot?") format("eot"),
    url("fonts/exotwo/exo2medium.woff") format("woff"),
    url("fonts/exotwo/exo2medium.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2-Semi";
  src: url("fonts/exotwo/exo2semibold.eot?") format("eot"),
    url("fonts/exotwo/exo2semibold.woff") format("woff"),
    url("fonts/exotwo/exo2semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2-Bold";
  src: url("fonts/exotwo/exo2bold.eot?") format("eot"),
    url("fonts/exotwo/exo2bold.woff") format("woff"),
    url("fonts/exotwo/exo2bold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro/sourcesanspro.eot?") format("eot"),
    url("fonts/SourceSansPro/sourcesanspro.woff") format("woff"),
    url("fonts/SourceSansPro/sourcesanspro.ttf") format("truetype");
}
