<div class="orders__edit">
	<div class="container">
		<div class="orders__edit__title">
			<span class="span span-text">Редактирование заказа</span>
			<span class="span span-close js_span_close"></span>
		</div>
		<div class="orders__edit__items">
			<div class="item item__first">
				<div class="item__main">
					<span class="item-name">№ заказа</span>
					<select class="item-select item-select-order">
						<option value="">Категория</option>
						<option class="item-select-option">604919</option>
					</select>
				</div>
				<div class="item__main">
					<span class="item-name">Менеджер</span>
					<select class="item-select item-select-manager">
						<option value="">Категория</option>
						<option class="item-select-option">Овчинников Д.</option>
					</select>
				</div>
				<div class="item__main">
					<span class="item-name">Статус</span>
					<select class="item-select item-select-status">
						<option value="">Категория</option>
						<option class="item-select-option">В обработке</option>
					</select>
				</div>
				<div class="item__main">
					<span class="item-name">Источник</span>
					<select class="item-select item-select-origin">
						<option value="">Категория</option>
						<option class="item-select-option">Звонок</option>
					</select>
				</div>
				<div class="item__main">
					<span class="item-name">Регион</span>
					<select class="item-select item-select-region">
						<option value="">Категория</option>
						<option class="item-select-option">В обработке</option>
					</select>
				</div>

			</div>
			<div class="item item__second">
				<div class="item__main">
					<span class="item-name">Клиент</span>
					<form class="item-form item-form-client">
						<input class="item-input" type="text" placeholder="Тарасова Юлия Сергеевна">
					</form>
				</div>
				<div class="item__main">
					<span class="item-name">электронная почта</span>
					<form class="item-form item-form-email">
						<input class="item-input" type="text" placeholder="client@gmail.com">
					</form>
				</div>

			</div>
			<div class="item item_third">
				<div class="item__main item__main-telefon">
					<span class="item-name">Телефон</span>
					<form class="item-form item-form">
						<input class="item-input" type="text" placeholder="+7 800 800-00-00">
					</form>
					<span class="item-name item-name-two">Телефон доп</span>
					<form class="item-form item-form">
						<input class="item-input" type="text" placeholder="+7 800 800-00-00">
					</form>
				</div>
				<div class="item__main item__main-delivery">
					<span class="item-name">Адрес доставки</span>
					<form class="item-form item_delivery">
						<input class="item-input item-input-city" type="text" placeholder="Город">
						<input class="item-input item-input-station" type="text" placeholder="Станция метро">
						<input class="item-input item-input-street" type="text" placeholder="Улица">
						<input class="item-input item-input-house" type="text" placeholder="Дом">
						<input class="item-input item-input-entrance" type="text" placeholder="Подъезд">
						<input class="item-input item-input-floor" type="text" placeholder="Этаж">
						<input class="item-input item-input-information" type="text" placeholder="Дополнительная информация">
					</form>
				</div>
			</div>
			<div class="item items__four">
				<div class="item__four">
					<span class="item-name">Магазин</span>
					<select class="item-select">
						<option value="">Категория</option>
						<option class="item-select-option">ASKO</option>
					</select>
					<span class="item-name">Способ оплаты</span>
					<select class="item-select">
						<option value="">Категория</option>
						<option class="item-select-option">Безналичный</option>
					</select>
					<span class="item-name">Дата заказа</span>
					<input class="item item_date item_date_last" type="date"></input>
					<span class="item-name">Доверенность для ТК</span>
					<label for="file-upload" class="item item_date item_file">
						Загрузить
						<input id="file-upload" accept="image/jpeg" class="item item_date item_file" type="file" />
					</label>
				</div>
				<div class="item__four">
					<span class="item-name">Поставщик</span>
					<select class="item-select">
						<option value="">Категория</option>
						<option class="item-select-option">ТЕХПОРТ</option>
					</select>
					<span class="item-name">Счет поставщика</span>
					<form class="item-form item-form-provider">
						<input class="item-input" type="text" placeholder="0000000">
					</form>
					<span class="item-name">Дата доставки</span>
					<input class="item item_date item_date_last" value="Дата отгрузки" type="date"></input>
					<span class="item-name">Документ от поставщика</span>
					<label for="file-upload" class="item item_date item_file">
						Загрузить
						<input id="file-upload" accept="image/jpeg" class="item item_date item_file" type="file" />
					</label>
				</div>
				<div class="item__four">
					<span class="item-name">№ заказа поставщика</span>
					<form class="item-form item-form-provider">
						<input class="item-input" type="text" placeholder="су000587">
					</form>
					<span class="item-name">Счет РЕТ</span>
					<form class="item-form item-form-provider">
						<input class="item-input" type="text" placeholder="0000000">
					</form>
					<span class="item-name">Интервал</span>
					<form class="item-form item-form-provider">
						<input class="item-input item_time" type="text" placeholder="08:00 – 18:00">
					</form>
				</div>
			</div>
		</div>
		<div class="orders__edit__table">
			<div class="middle__brands__table__nav">
				<h3 class="middle__brands__table__nav_h3 js_middle__brands__table__nav_h3">Состав заказа
					<span class="middle__brands__table__nav_h3_span">2</span>
				</h3>
				<h3 class="middle__brands__table__nav_h3 js_middle__brands__table__nav_h3">Доставка
					<span class="middle__brands__table__nav_h3_span">5</span>
				</h3>
				<h3 class="middle__brands__table__nav_h3 js_middle__brands__table__nav_h3">Подключение
					<span class="middle__brands__table__nav_h3_span">0</span>
				</h3>
				<h3 class="middle__brands__table__nav_h3 js_middle__brands__table__nav_h3">Рекламации
					<span class="middle__brands__table__nav_h3_span">0</span>
				</h3>
				<h3 class="middle__brands__table__nav_h3 js_middle__brands__table__nav_h3">Комментарий
				</h3>
			</div>
			<div class="orders__edit__table__items">
				<div class="item item__title">
					<span class="item__title-span model">Модель</span>
					<span class="item__title-span price">На сайте</span>
					<span class="item__title-span quantity">Продажи</span>
					<span class="item__title-span action">Закупки</span>
					<span class="item__title-span information">Кол-во</span>
					<span class="item__title-span commission">Комиссия</span>
				</div>
				<div class="item item__block">
					<span class="item__block-span model">Кофе-машина DeLonghi ECAM 22.360.S</span>
					<span class="item__block-span price">59 990 ₽</span>
					<span class="item__block-span quantity">56 990 ₽</span>
					<span class="item__block-span action">34 700 ₽</span>
					<span class="item__block-span information">1</span>
					<span class="item__block-span commission">22 290 ₽</span>
				</div>
				<div class="item item__block">
					<span class="item__block-span model">Стиральная машина BEKO WKB 51001 M</span>
					<span class="item__block-span price">11 980 ₽</span>
					<span class="item__block-span quantity">11 980 ₽</span>
					<span class="item__block-span action">10 980 ₽</span>
					<span class="item__block-span information">1</span>
					<span class="item__block-span commission">23 380 ₽</span>
				</div>
				<div class="item item__block-footer">
					<span class="item__block-span model">Сумма заказа:</span>
					<span class="item__block-span price">68 970 ₽</span>
					<span class="item__block-span quantity">68 970 ₽</span>
					<span class="item__block-span action">45 680 ₽</span>
					<span class="item__block-span information">2</span>
					<span class="item__block-span commission">23 380 ₽</span>
				</div>
			</div>
		</div>
		<div class="orders__edit__buttons">
			<a href=" # " class="button button-save">
				сохранить
				<span class="img"></span>
			</a>
			<div class="model-page__description__checkbox">
				<label class="checkbox search__checkbox">
					<input type="checkbox" class="checkbox__input">
					<span class="checkbox__icon"></span>
					<span class="checkbox__text">Допродажа</span>
				</label>
				<label class="checkbox search__checkbox">
					<input type="checkbox" class="checkbox__input">
					<span class="checkbox__icon"></span>
					<span class="checkbox__text">Добавить в существующий заказ</span>
				</label>
			</div>
			<a href=" # " class="button button-delete">
				удалить
				<span class="img"></span>
			</a>
		</div>
	</div>
</div>
<!-- /.editeing_task -->