.orders_edit {
	position: absolute;
	background-color: #f5f8fa;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	justify-content: center;
	.container {
		max-width: 880px;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 28px;
	}
	&_title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.span {
			&_text {
				font-family: "Exo2-Regular";
				font-size: 24px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.17;
				letter-spacing: normal;
				color: #293742;
			}
			&_close {
				background-image: url(https://icongr.am/material/close.svg?color=919eab);
				background-size: cover;
				width: 20px;
				height: 20px;
			}
		}
	}
	&_items {
		width: 100%;
		.item {
			display: flex;
			&_main {
				.item_select {
					margin-right: 32px;
					&_order {
						width: 152px;
					}
					&_manager {
						width: 160px;
					}
					&_status {
						width: 160px;
					}
					&_origin {
						width: 120px;
					}
					&_region {
						width: 160px;
					}
				}
				&-telefon {
					width: 272px;
					display: flex;
					flex-wrap: wrap;
					.item_name {
						margin-top: 12px;
						margin-bottom: 4px;
						height: 10px; // &-two{
						// 	margin-top: 12px;
						// }
					}
					.item_form {
						height: 32px;
					}
				}
				&-delivery {
					padding-left: 32px;
					display: flex;
					flex-wrap: wrap;
				}
			}
			&_name {
				font-family: SourceSansPro;
				font-size: 10px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.6;
				letter-spacing: 1px;
				color: #919eab;
				text-transform: uppercase;
				margin-top: 12px;
				width: 100%;
				margin-bottom: 4px;
			}
			&_select {
				height: 32px;
				width: 100%;
				border-radius: 4px;
				box-shadow: inset 0 1px 2px 0 rgba(16, 22, 26, 0.2);
				border: solid 1px #d8e1e8;
				padding-left: 12px;
				font-family: "Exo2-Semi";
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.33;
				letter-spacing: 0.8px;
				color: #bfccd6;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url("../images/chevron-down.svg") 96% / 16px no-repeat white;
			}
			&_form .item_form {
				width: 100%;
				border-radius: 4px;
				box-shadow: inset 0 1px 2px 0 rgba(16, 22, 26, 0.2);
				border: solid 1px #d8e1e8;
				height: 32px;
				&_input {
					background-color: #ffffff;
					width: 100%;
					border: none;
					outline: none;
					box-sizing: border-box;
					&::placeholder {
						text-transform: uppercase;
						font-family: "Exo2-Semi";
						font-size: 12px;
						font-weight: 600;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.33;
						letter-spacing: 0.8px;
						color: #bfccd6;
						padding-left: 12px;
					}
					&_city {
						width: 360px;
						padding: 0 0 0 10px;
						height: 29px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
					&_station {
						width: 214px;
						height: 29px;
						padding: 0 10px 0 10px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
					&_street {
						width: 360px;
						height: 29px;
						padding: 0 0 0 10px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
					&_house {
						width: 61px;
						height: 29px;
						padding: 0 5px 0 10px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
					&_entrance {
						width: 92px;
						height: 29px;
						padding: 0 5px 0 10px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
					&_floor {
						width: 61px;
						height: 29px;
						padding: 0 5px 0 10px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
					&_information {
						width: 565px;
						height: 29px;
						padding: 0 10px;
						&::placeholder {
							padding: 0;
							border-bottom: 1px solid #f4f6f8;
						}
					}
				}
			}
			&_date {
				width: 100%;
				height: 32px;
				border-radius: 4px;
				box-shadow: inset 0 1px 2px 0 rgba(16, 22, 26, 0.2);
				border: solid 1px #d8e1e8;
				text-transform: uppercase;
				font-family: "Exo2-Semi";
				font-size: 12px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.33;
				letter-spacing: 0.8px;
				color: #bfccd6;
				padding-left: 12px;
				&::-webkit-calendar-picker-indicator {
					width: 13px;
					height: 13px;
					background: url("https://icongr.am/fontawesome/calendar.svg?color=bfccd6") no-repeat center;
					background-size: contain;
					color: transparent;
					margin-right: 12px;
				}
				&::-webkit-clear-button {
					display: none;
				}
				&::-webkit-inner-spin-button {
					display: none;
				}
			}
			form {
				.item_textarea {
					width: 100%;
					resize: none;
					border-radius: 4px;
					box-shadow: inset 0 1px 2px 0 rgba(16, 22, 26, 0.2);
					border: solid 1px #d8e1e8;
					text-transform: uppercase;
					font-family: "Exo2-Semi";
					font-size: 12px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.33;
					letter-spacing: 0.8px;
					color: #bfccd6;
					padding: 8px 12px;
					overflow: auto;
				}
			}
			&_form {
				border-radius: 4px;
				background-color: rgba(255, 255, 255, 0);
				border: solid 1px #d8e1e8;
				&-client {
					width: 576px;
					margin-right: 32px;
				}
				&-email {
					width: 272px;
				}
			
			}
			&_first {
				margin-top: 12px;
				margin-bottom: 32px;
			}
			&_second {
				// margin-bottom: 12px;
			}
			&_third {
				margin-bottom: 20px;
			}
			&_four {
				&-item {
					display: flex;
					flex-wrap: wrap;
					width: 272px;
					&:nth-child(2) {
						margin: 0 32px;
					}
					&:last-child {
						margin-bottom: 62px;
					}

					.item {
						&_name {
							margin-top: 12px;
							height: 16px;
						}
						&_form {
							width: 100%;
						}
					}
				}
			}
			&_delivery {
				width: 576px;
				display: flex;
				flex-wrap: wrap;
				background: #ffffff;
			}
			&_file {
				position: relative;
				overflow: hidden;
				font-family: "Exo2-Semi";
				font-size: 12px;
				margin: 0;
				display: flex;
				align-items: center;
				input[type="file"] {
					display: none;
				}
				background: url("https://icongr.am/entypo/download.svg?color=bfccd6") 96%/16px no-repeat #fff;
			}
			&_time {
				background: url("https://icongr.am/material/timer.svg?color=bfccd6") 96%/16px no-repeat #fff;	
			}
		}
	}
	&_table {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 33px;
		&_title {
			font-family: "Exo2-Medium";
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: normal;
			color: #30404d;
			margin: 32px 16px 12px;
		}
		&_items {
			.item {
				border-radius: 4px;
				background-color: #ffffff;
				border: solid 1px #e1e8ed;
				height: 40px;
				display: flex;
				align-items: center;
				span {
					padding-left: 16px;
				}
				.model {
					width: 280px;
				}
				.price {
					width: 80px;
				}
				.quantity {
					width: 72px;
				}
				.action {
					width: 98px;
					&_orange {}
					&_red {}
					&_green {}
				}
			}
			.item_title {
		
				&_span {
					font-family: "Exo2-Semi";
					font-size: 14px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: normal;
					color: #bfccd6;
				}
			}
			.item_block {
				border-top: none;
				&_span {
					font-family: "SourceSansPro";
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.43;
					letter-spacing: normal;
					color: #293742;
				}
				.action {
					padding-left: 12px;
				}
				.action_state {
					padding: 3.5px 15.5px;
					border-radius: 3px;
					font-size: 10px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.2;
					letter-spacing: 0.8px;
					text-align: center;
					color: #ffffff;
					text-transform: uppercase;
					&_orange {
						background: #f2b824;
					}
					&_red {
						background: #f55656;
					}
				}
			}
		}
		.middle__brands_table_nav{
			margin-top: 20px;
		}
	}
	&_buttons {
		display: flex;
		justify-content: space-between;
		.button {
			position: relative;
			display: flex;
			align-items: center;
			width: 146px;
			height: 40px;
			font-family: "Exo2-Semi";
			font-size: 12px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: 0.8px;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			outline: none;
			border-radius: 4px;
			border: solid 1px #394b5985;
			transition: 0.2s ease-in-out;
			padding: 12px 12px 13px;
			opacity: .4;
			&_save {
				background-color: #4580e6;
				.img {
					background-image: url("https://icongr.am/clarity/check.svg?color=ffffff");
					background-size: contain;
					width: 16px;
					height: 16px;
					margin: 0 0 0 auto;
				}
				&:hover {
					opacity: 1;
				}
			}
			&_delete {
				background-color: #f55656;
				.img {
					background-image: url("https://icongr.am/entypo/trash.svg?color=ffffff");
					background-size: contain;
					width: 16px;
					height: 16px;
					margin: 0 0 0 auto;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	&_active {
		display: flex;
	}
}